
            .square {
  width: 170px;
  height: 150px;
  border-style: solid;
  border-color: black;
}
  .grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 800px;
  height: 1070px;
}

*/
.highlight{
    border-width = "thick";
}

.normal{
    border-width = "thin";
}

.extra{
  width: 170px;
  height: 150px;
  border-style: solid;
}

.empty{
    position:absolute;
    top:845px;
    left:580px;
}

div{
    background-size:cover;
}

.button1{
    position:absolute;
    top:200px;
    right:300px;
}

.button2{
    position:absolute;
    top:200px;
    right:400px;
}

.button3{
    position:absolute;
    top:300px;
    right:410px;
}

.button4{
    position:absolute;
    top:300px;
    right:290px;
}

.button5{
    position:absolute;
    top:400px;
    right:340px;
}